h1 {
    color: crimson;
    fron-size: 50px;
    
    }
    p{
        color: #080808;
    }
    p1{
        color: rgb(121, 4, 105);
        text-decoration-color: blueviolet;
    }
    a {
        color: rgb(206, 186, 11);
    }